/*
!/gradle/
!build.gradle
!gradle.properties
!FORMAT.md
!LICENSE.md
!README.md

!/core/
/core/*
!/core/gradlew
!/core/gradlew.bat
!/core/build.gradle
!/core/gradle.properties
!/core/src/

!/mc1710/
/mc1710/*
!/mc1710/gradlew
!/mc1710/gradlew.bat
!/mc1710/build.gradle
!/mc1710/gradle.properties
!/mc1710/src/
